body {
  color: #24292f;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-size: 14px;
}

#slot-machine {
  margin: 10% auto 0 auto;
}

#slot-credits {
  text-align: center;
  margin: 20px;
}

#play-button {
  display: block;
  margin: 0 auto;
  width: 100px;
}

/**
 * Responsive overrides.
 */
@media only screen and (min-device-width: 0px) and (max-device-width: 450px) {
  html {
    min-width: 400px;
  }

  #slot-machine {
    margin: 0 auto -150px auto;
    transform: scale(65%);
    transform-origin: left top;
  }
}
