.slot-machine {
  height: 480px;
  width: 600px;

  .display {
    display: flex;
    height: inherit;
    position: absolute;
    width: inherit;
    z-index: 2;

    .reel {
      background-color: #eee;
      border: 3px solid #ccc;
      border-radius: 10px;
      height: calc(100% - 106px);
      margin: 28px 10px 10px 10px;
      opacity: 50%;
      width: 200px;
    }
  }

  .slots {
    cursor: grab;
    height: inherit;
    z-index: 1;

    ul.reel {
      display: inline-block;
      list-style: none;
      margin-left: -40px;
      transform-style: preserve-3d;

      &.start {
        animation: init 300ms ease-in reverse;
      }

      &.spin {
        animation: spin 600ms linear infinite reverse;
      }

      &.stop {
        animation: init 1000ms ease-out reverse;
      }

      li {
        position: absolute;
      }
    }
  }

  @-moz-keyframes init {
    from {
      -moz-transform: rotateX(0);
    }
    to {
      -moz-transform: rotateX(15deg);
    }
  }

  @-webkit-keyframes init {
    from {
      -webkit-transform: rotateX(0);
    }
    to {
      -webkit-transform: rotateX(15deg);
    }
  }

  @-moz-keyframes spin {
    from {
      -moz-transform: rotateX(0);
    }
    to {
      -moz-transform: rotateX(360deg);
    }
  }

  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotateX(0);
    }
    to {
      -webkit-transform: rotateX(360deg);
    }
  }
}
